/* ------------------Campaign stats--------------------*/
.campaign-stats {
	width: 100%;
	height: auto;
	float: left;
	border-top: 1px solid #c9c9c9;
	margin-top: 15px;
	margin-bottom: -15px;
}
.circular-bar {border-top: none; width: 100%; height: auto;float: left;}
.campaign-stats .items, .circular-bar .items {display: inline-block; margin: 15px};
.campaign-stats .percentage, .circular-bar .percentage {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
.campaign-stats .items span, .circular-bar .items span {font-weight: bold;}
.campaign-stats .txt, .circular-bar .txt {text-align: center;margin-top: 5px;font-weight: bold;}

/* ------------------Social stats--------------------*/
.social-stats {float: right; width: 50%;margin-top: 15px;}
.social-stats ul {list-style: none; margin-bottom: 0;margin-left: 0;}
	.social-stats li.item {display: inline-block;}
		.social-stats li.item .icon {float: left;width: 100%;margin-bottom: 10px;}
			.social-stats li.item .icon i {font-size: 42px;}
		.social-stats li.item .number {float: left; width: 100%;margin-bottom: 0px;font-weight: bold;}
		.social-stats li.item .txt {float: left;width: 100%;}
