.module-list-xs {
	font-size: 17px;
	text-align: left;
	padding: 15px 10px;
	background-color: #eee;
	margin-top: -5px;
	margin-bottom: -15px;
	text-align: center;
}

.module-list-xs span a {
	color: #555 ;
	text-shadow: 0 1px 2px #222;
	position: relative;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.module-list-xs .fa-stack .label{
	position: absolute;
	top: -2px;
	right: 5px;
	font-size: 12px;
	border-radius: 8px;
	border: 2px solid #fff;
}

.module-list-xs  span a:hover,
.module-list-xs0  span a:focus{
		color: #333 ;
}

.module-list-xs .fa-stack .fa-stack-1x {
	position: absolute;
	top:8px;
	left: 11px;
}

.module-list-xs .fa-stack .name {
	position: absolute;
	color: #eee;
	font-size: 11px;
	top:18px;
	text-align: center;
	width: 57px;
	font-style: normal;
}
