#mainbox h2 {font-size:14px;font-family:dotum;font-weight:bold;border-bottom:#dfdfdf solid 1px;padding:10px 0 10px 0;margin:0;letter-spacing:-1px;}
#mainbox .notice {padding:20px 0 20px 15px;margin:0 0 20px 0;font-size:12px;font-family:dotum;color:#02B6D6;border-bottom:#dfdfdf dotted 1px;line-height:150%;}
#mainbox .msg {font-weight:bold;}
#mainbox .msg img {position:relative;top:2px;}
#mainbox .msg .rednotice {color:#ff0000;}
#mainbox ul {padding:20px 0 20px 10px;margin:0;}
#mainbox li {list-style-type:none;padding:4px 0 4px 0;}
#mainbox table {padding:0;margin:20px 0 20px 10px;}
#mainbox .td1 {vertical-align:top;padding:12px 0 7px 15px;width:110px;}
#mainbox .td2 {padding:7px 0 7px 0;color:#999;}
#mainbox .td2 .select1 {width:400px;padding:2px 2px 2px 0;margin:1px;}
#mainbox .td2 .input {width:395px;}
#mainbox .td2 .file {width:400px;height:22px;margin:1px;}
#mainbox .td2 .sp {font-size:11px;font-family:dotum;color:#0000ff;text-decoration:underline;}
#mainbox .td2 .guide {padding:10px 0 0 0;line-height:140%;}
#mainbox .sfont {font-size:12px;font-family:dotum;color:#999999;padding:15px 0 17px 0;line-height:150%;}
#mainbox .sfont .notice1 {color:#0000ff;}
#mainbox .submitbox {margin:20px 0 20px 0;padding:15px 0 0 15px;border-top:#dfdfdf solid 1px;}

#mainbox .tbox .treetop {background:url('../../../../../_core/image/tree/default/top.gif') left repeat-y;}
#mainbox .tbox .treetop a {font-weight:bold;position:relative;top:1px;left:22px;}
#mainbox .tbox .joinimg {height:15px;background:url('../../../../../_core/image/tree/default/line.gif') left repeat-y;}
#mainbox .tbox .tree {}
#mainbox .tbox .tree img {vertical-align:top;}
#mainbox .tbox .tree .name {color:#111;padding:2px 0 0 0;}
#mainbox .tbox .tree .name:hover {color:#AECD63;}
#mainbox .tbox .tree .hidden {color:#c0c0c0;}
#mainbox .tbox .tree .hidden:hover {color:#c0c0c0;}
#mainbox .tbox .tree .mobile {position:relative;top:-3px;}
#mainbox .tbox .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
#mainbox .tbox .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
#mainbox .tbox .tree .num1 {font-family:arial;font-size:10px;color:#999999;padding-left:3px;}
#mainbox .tbox .tree .none {height:15px;margin:0;padding:3px 0 0 25px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:0 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}
