#mainbox {}
#mainbox .sbox {padding:0 0 15px 0;}
#mainbox .sbox .btngray {margin:0;height:17px;}
#mainbox .sbox .btnblue {margin:0;height:17px;}
#mainbox .sbox .account {width:192px;}
#mainbox .sbox .input {margin:0 0 0 10px;height:14px;}
#mainbox .sbox .input:focus {border:#dfdfdf solid 1px;}
#mainbox .sbox label {display:inline-block;color:#666666;}
#mainbox .sbox label input {position:relative;top:2px;}
#mainbox .sbox div {padding:10px 0 0 0;}
#mainbox .info {height:35px;}
#mainbox .info .article {float:left;padding:5px 0 0 0;}
#mainbox .info .article a {color:#999999;}
#mainbox .info .article a i {font-style:normal;font-weight:normal;font-size:11px;display:inline-block;padding:0 5px 0 2px;color:#666666;}
#mainbox .info .article .on {font-weight:bold;color:#333333;}
#mainbox .info .category {float:right;}
#mainbox .info .category select .sline {color:#c0c0c0;}
#mainbox .bbsbody {}
#mainbox .bbsbody table {width:100%;_width:99.6%;border-spacing:0px;border-collapse:collapse;}
#mainbox .bbsbody table caption {display:none;}
#mainbox .bbsbody thead th {height:28px;border-top:#D2D2D2 solid 1px;border-bottom:#D2D2D2 solid 1px;background:url('../../../../../_core/image/_public/bg_list_tt.jpg');font-size:11px;font-family:dotum;color:#787878;letter-spacing:-1px;}
#mainbox .bbsbody thead .side1 {border-left:#D2D2D2 solid 1px;}
#mainbox .bbsbody thead .side2 {border-right:#D2D2D2 solid 1px;}
#mainbox .bbsbody tbody td {padding:8px 0 8px 0;text-align:center;font-family:dotum;font-size:12px;color:#888888;border-bottom:#E6E6E6 solid 1px;letter-spacing:-1px;}
#mainbox .bbsbody tbody tr:hover td {background:#efefef;}
#mainbox .bbsbody tbody tr:hover .sbj input {border:#cccccc solid 1px;background:#ffffff;}
#mainbox .bbsbody tbody .bid a {color:#9965C9;}
#mainbox .bbsbody tbody .lst u {text-decoration:none;position:relative;top:-2px;font-family:arial;font-size:10px;color:#ff0000;}
#mainbox .bbsbody tbody .sbj {text-align:left;padding-left:10px;line-height:130%;}
#mainbox .bbsbody tbody .sbj input {width:100%;height:15px;padding:2px 0 1px 2px;border:#ffffff solid 1px;}
#mainbox .bbsbody tbody .sbj input:focus {border:#cccccc solid 1px;background:#ffffff;}
#mainbox .bbsbody tbody .sbj .cmt {padding-top:8px;}
#mainbox .bbsbody tbody .sbj .oneline {padding:10px 0 10px 0;}
#mainbox .bbsbody tbody .sbj .oneline .ico {float:left;width:45px;}
#mainbox .bbsbody tbody .sbj .oneline .ico img {}
#mainbox .bbsbody tbody .sbj .oneline .cont {float:left;width:420px;}
#mainbox .bbsbody tbody .sbj .oneline .cont u {text-decoration:none;position:relative;top:-2px;font-family:arial;font-size:10px;color:#ff0000;}
#mainbox .bbsbody tbody .lay span {text-align:left;}
#mainbox .bbsbody tbody .cat {color:#c0c0c0;}
#mainbox .bbsbody tbody .cat span {font-weight:bold;color:#FE6665;}
#mainbox .bbsbody tbody .lay {color:#c0c0c0;}
#mainbox .bbsbody tbody .lay i {font-style:normal;font-weight:bold;color:#FE6665;}
#mainbox .bbsbody tbody .lay span {text-align:left;}
#mainbox .bbsbody tbody .perm {}
#mainbox .bbsbody tbody .perm span {text-align:left;}
#mainbox .bbsbody tbody .mng {}
#mainbox .bbsbody tbody .mng a {text-decoration:underline;color:#666666;display:inline-block;padding:0 2px 0 2px;}
#mainbox .bbsbody tbody .mng .del {color:#999999;}
#mainbox .bbsbody tbody .tooltip span {padding:8px 8px 5px 10px;line-height:170%;}
#mainbox .bbsbody tbody .ck a {display:block;width:100%;height:100%;text-align:center;}
#mainbox .bbsbody tbody .none {padding:10px 0 10px 0;}
#mainbox .bbsbody tbody tr:hover .none {background:#ffffff;} 
#mainbox .bbsbody .pagebox01 {padding:15px 0 20px 0;}
