#set .active {
    box-shadow: 0 0 0 1px #fff,0 0 0 5px #428bca;
    padding: 0;
    border-radius: 4px
}
#set .thumbnail {
    position: relative;
}
#set .thumbnail .btn-group {
    position: absolute;
    bottom: 4px;
    left:4px;
}
#set .thumbnail .btn-group button {
    border-radius: 0;
}
#set .thumbnail .checkbox-inline {
    position: absolute;
    top: 8px;
    right:8px;
}

.page-header {
	padding-bottom: 9px;
	margin: 0 0 20px;
}
.panel .panel-heading {
	padding: 10px 15px;
}

.input-group {
	margin-bottom: 10px
}
.input-group-addon {
	width: 100px;
}

