#drag-drop-area {
	border: 4px dashed #ddd;
	height: 250px;
	background-color: #f5f5f5;
}
#drag-drop-area .drag-drop-inside {
	margin:70px auto 0;
}

#drag-drop-area .drag-drop-inside .drag-drop-info{
	color:#777;
	font-size: 18px;
}

.upload-list .list-group-item {
	padding: 0
}
.upload-list .list-group-item .edit-attachment {
	display: block;
	line-height: 36px;
	float: right;
	margin-right: 15px;
}
.upload-list .media-item .thumb {
	float: left;
	margin: 2px 2px 0;
	max-width: 40px;
	max-height: 32px;
}

.upload-list .media-item .filename {
	line-height: 36px;
	overflow: hidden;
	padding: 0 10px;
}
