.media-modal {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
	overflow-y: auto;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

@media (max-width: 767px) { 
    .media-modal {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }
 }

.modal-dialog {
    width: auto;
}
.modal-header {
border-bottom: 0;
}
.modal-body {
    padding-top: 10px
}
.modal .close {
    position: absolute;
    top: 15px;
    right:25px;
    z-index: 1000
}



.media-modal-close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 30px;
    height: 30px;
    z-index: 1000;
}
.media-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    background: #fff;
}

.media-modal h1  {
    margin-top: 10px;
    margin-bottom: 25px
}

.media-modal h1 small {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    display: block;
    margin-top: 0px
}

.media-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.media-frame-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 199px;
    z-index: 150;
}

.media-frame-content {
    position: absolute;
    top: 15px;
    left: 200px;
    right: 15px;
    bottom: 0;
    height: auto;
    width: auto;
    margin: 0;
}

@media (max-width: 767px) {
    .media-frame-content {
    left: 10px;
    }
}


.media-frame-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 199px;
    z-index: 150;
}

.media-frame-content .container,
.media-frame-content .container .tab-content {
    position: relative;
	min-height: 100%;
	height: auto;
	height: 100% !important;
		margin-bottom:  -40px;
	padding-bottom: 40px;
}

.page-header {
    padding-bottom: 9px;
    margin: 15px 0 10px;
    border-bottom: 1px solid #eeeeee;
}


.page-header h1, h2, h3 {
margin-top: 0;
margin-bottom: 0;
}


.media-sidebar {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 267px;
padding: 15px;
z-index: 75;
background: #f5f5f5;
border-left: 1px solid #dfdfdf;
overflow: auto;
-webkit-overflow-scrolling: touch;
}

.media-sidebar .media-pic {
    position: relative;
}

.media-sidebar .media-pic .btn-group {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.media-sidebar .media-name {
    margin-top: 10px;
}
.media-frame-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 199px;
    z-index: 150;
    padding: 15px;
}


.media-modal .tab-content {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    background: #fff;
    border-top: 0px;
    bottom: 15px;
    padding: 0px;
    position: absolute;
    top: 46px;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.media-modal .tab-pane {
    height: 100%;
    overflow: auto;
}

.media-modal .tab-content #upload {
    position: absolute;
    top:0;
    bottom: 0;
    left:15px;
    right:15px;
}

.media-modal .tab-pane-body {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}
.media-modal .tab-pane-body .inner {
    padding: 15px;
}
.media-modal .tab-pane-footer {
    background-color: #f5f5f5;
    border: 0px solid #dfdfdf;
    border-width: 1px 0px 0px;
    bottom: 0;
    box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 10px 15px;
    position: absolute;
    right: 0px;
    width: 100%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#library button {
    border-radius: 0px;
}
#library .thumbnails {
    bottom: 0px;
    overflow: auto;
    padding: 10px 0 10px 10px;
    position: absolute;
    right: 266px;
    top: 0px;
    z-index: 1000;
}

#library .thumbnails a {
    margin: 3px;
    float: left;
    cursor: move;
}

#library .thumbnails .active {
    border: 1px solid #3276b1;
    background-color: #428bca;
}

.attachments-browser {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.attachments-browser .thumbnail {
    position: relative;
}
.attachments-browser .thumbnail button {
    position: absolute;
    bottom: 4px;
    left: 4px
}

#drag-drop-area {
    border: 4px dashed #ddd;
    background-color: #f5f5f5;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
}
#drag-drop-area .drag-drop-inside {
    margin:20% auto 0;
}

#drag-drop-area .drag-drop-inside .drag-drop-info{
    color:#777;
    font-size: 18px;
}


#drag-drop-area-info {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom : 15px;
}

@media (max-width: 767px) {
    #drag-drop-area-info {
        left: 0;
        right:0;
        bottom : 15px;
    }
}


.upload-list .list-group-item {
    padding: 0
}
.upload-list .list-group-item .edit-attachment {
    display: block;
    line-height: 36px;
    float: right;
    margin-right: 15px;
}
.upload-list .media-item .thumb {
    float: left;
    margin: 2px 2px 0;
    max-width: 40px;
    max-height: 32px;
}

.upload-list .media-item .filename {
    line-height: 36px;
    overflow: hidden;
    padding: 0 10px;
}


.media-sidebar .media {
    font-size: 12px;
}

.panel .panel-heading h4 {
    padding: 11px 0 11px 15px;
}


@media (max-width: 380px) {
    .media-sidebar {
    width: 167px;
    }
    #library .thumbnails {
    right: 166px;
    }
}

.media-sidebar .media-name .form-group {
    position: relative;
}

.media-sidebar .media-name .form-group input {
    padding-right: 50px;
}

.media-sidebar .media-name .form-group span {
    position: absolute;
    right:10px;
    top: 7px;
    font-weight: bold;
    color: #999;
}