.inwrap {
    height: 0px;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}
.video-iframe {
    border: 0px;
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.bgimg {
    left: 0px;
    position: absolute;
    top: -17%;
    width: 100%;
}

#set .active {
    box-shadow: 0 0 0 1px #fff,0 0 0 5px #428bca;
    padding: 0;
    border-radius: 4px
}

.thumbnail  {
    position: relative; ;
}
.thumbnail .checkbox  {
    position: absolute; 
    top:0;
    right: 10px;
    z-index:1000;
}
.thumbnail .caption {
    padding: 0 ;
}



.page-header {
	padding-bottom: 9px;
	margin: 0 0 20px;
}
.panel .panel-heading {
	padding: 10px 15px;
}

.input-group {
	margin-bottom: 10px
}
.input-group-addon {
	width: 100px;
}