#_layout {}
#_layout ._header {}
#_layout ._header .wrap {border-bottom:#DEDEDE solid 1px;}
#_layout ._header .logo {float:left;padding:0;margin:0;position:relative;}
#_layout ._header .logo ._logo_img {}
#_layout ._header .logo ._logo_img img {}
#_layout ._header .logo ._logo_txt {padding:0;margin:0;}
#_layout ._header .logo ._logo_txt a {}
#_layout ._header .login {float:right;position:relative;}
#_layout ._header .login a {}
#_layout ._header .login i {display:inline-block;margin:0 3px 0 3px;position:relative;top:1px;width:1px;height:11px;}
#_layout ._header .search {float:right;position:relative;margin:0 0 0 20px;}
#_layout ._header .search form {display:block;width:228px;height:25px;background:#ffffff;border-radius:6px 6px 6px 6px;}
#_layout ._header .search .keyword {float:left;padding:2px 0 0 3px;margin:3px 0 0 6px;width:186px;height:17px;font-size:11px;font-family:dotum;color:#888888;border:0;background:#ffffff;}
#_layout ._header .search .keyword:focus {font-weight:bold;font-size:12px;font-family:gulim;color:#222222;}
#_layout ._header .search .sbtn {float:left;padding:5px;position:relative;top:-1px;left:4px;}
#_layout ._xleft {padding-left:20px;border-left:#dfdfdf solid 1px;}
#_layout ._xright {padding-right:20px;border-right:#dfdfdf solid 1px;}
#_layout ._xleft1 {padding-right:15px;}
#_layout ._xright1 {padding-left:15px;}
#_layout ._snb {padding-top:30px;padding-bottom:30px;}
#_layout ._snb .admin {position:absolute;text-align:right;}
#_layout ._snb .admin a {display:inline-block;padding:2px 5px 2px 5px;background:#066D98;color:#ffffff;font-size:11px;font-family:dotum;border-radius:2px 2px 2px 2px;}
#_layout ._snb .admin a:hover {background:#1197C9;}
#_layout ._snb .admin .config {background:#FF4040;}
#_layout ._snb .admin .config:hover {background:#FC6A6A;}
#_layout ._snb .title {padding:0 0 8px 0;font-weight:bold;color:#666666;}
#_layout ._snb .title span {display:inline-block;float:left;}
#_layout ._snb .title a {display:inline-block;float:right;font-weight:normal;font-size:11px;font-family:dotum;color:#999999;}
#_layout ._snb .btm {height:25px;}
#_layout ._snb .treetop {background:url('../../../../../_core/image/tree/default/top.gif') left repeat-y;}
#_layout ._snb .treetop a {font-weight:bold;position:relative;top:1px;left:22px;}
#_layout ._snb .joinimg {height:15px;background:url('../../../../../_core/image/tree/default/line.gif') left repeat-y;}
#_layout ._snb .tree {}
#_layout ._snb .tree img {vertical-align:top;}
#_layout ._snb .tree .name {color:#111;padding:2px 0 0 0;}
#_layout ._snb .tree .name:hover {color:#AECD63;}
#_layout ._snb .tree .hidden {color:#c0c0c0;}
#_layout ._snb .tree .hidden:hover {color:#c0c0c0;}
#_layout ._snb .tree .mobile {position:relative;top:-3px;}
#_layout ._snb .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
#_layout ._snb .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
#_layout ._snb .tree .num1 {font-family:arial;font-size:10px;color:#999999;padding-left:3px;}
#_layout ._snb .tree .none {height:15px;margin:0;padding:3px 0 0 25px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:0 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}
#_layout ._snb .photo {padding:0;}
#_layout ._snb .photo .pic {float:left;margin:0 8px 8px 0;padding:1px;border:#dfdfdf solid 1px;backgorund:#ffffff;}
#_layout ._snb .photo .pic img {width:70px;height:54px;}
#_layout ._snb .post {padding:0;}
#_layout ._snb .post ul {padding:0;margin:0;list-style-type:none;}
#_layout ._snb .post li {margin:10px 0 10px 0;}
#_layout ._snb .post li span {font-family:arial;font-size:11px;color:#E75801;padding-left:3px;}
#_layout ._snb .post li a {line-height:130%;}
#_layout ._snb .post li i {font-style:normal;font-family:dotum;font-size:11px;color:#999999;padding-left:3px;}
#_layout ._snb .post li u {text-decoration:none;font-family:arial;font-size:10px;color:#ff0000;}
#_layout ._snb .tags {padding:10px 0 0 0;line-height:180%;}
#_layout ._snb .tags .tags_1 {padding:5px 2px 5px 2px;font-family:dotum;font-size:11px;color:#7B7B7B;border-radius:3px 3px 3px 3px;}
#_layout ._snb .tags .tags_1:hover {padding:5px 2px 5px 2px;font-family:dotum;font-size:11px;color:#FFFFFF;background:#7B7B7B;}
#_layout ._snb .tags .tags_2 {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:12px;color:#87C168;border-radius:3px 3px 3px 3px;}
#_layout ._snb .tags .tags_2:hover {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:12px;color:#FFFFFF;background:#87C168;}
#_layout ._snb .tags .tags_3 {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:14px;color:#FF6666;border-radius:3px 3px 3px 3px;}
#_layout ._snb .tags .tags_3:hover {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:14px;color:#FFFFFF;background:#FF6666;}
#_layout ._snb .daily {border:#efefef solid 1px;}
#_layout ._snb .daily .tt {padding:5px 0 5px 0;text-align:center;font-weight:bold;}
#_layout ._snb .daily .tt img {position:relative;top:-1px;}
#_layout ._snb .daily .sunday {color:#2B97D7;}
#_layout ._snb .daily .week {height:20px;}
#_layout ._snb .daily .week td {color:#333;background:#f9f9f9;}
#_layout ._snb .daily table {width:100%;}
#_layout ._snb .daily td {text-align:center;color:#666;font-family:dotum;font-size:11px;}
#_layout ._snb .banner span {display:block;font-size:11px;font-family:dotum;color:#c0c0c0;padding:70px 0 70px 0;margin:0;border:#cccccc solid 1px;background:#efefef;text-align:center;}
#_layout ._snb .counter {margin:0;padding:10px;border:#cccccc solid 1px;line-height:150%;font-family:arial;font-size:10px;color:#666;}
#_layout ._snb .rss {padding:0;font-size:10px;font-family:tomaha;color:#c0c0c0;}
#_layout ._snb .rss a {color:#666;padding:0 5px 0  5px;}
#_layout ._snb .rss a:hover {text-decoration:underline;}
#_layout ._snb .rss img {position:relative;top:3px;}
#_layout ._wbox {padding:20px 0 20px 20px;margin:0 0 30px 0;background:#efefef;border:#cccccc solid 4px;border-radius:8px 8px 8px 8px;}
#_layout ._content {padding-top:30px;padding-bottom:30px;}
#_layout ._footer .wrap {border-top:#DEDEDE solid 1px;}
#_layout ._footer .wrap .copyright {padding:15px 0 20px 0;text-align:center;font-size:11px;font-family:arial;color:#999999;}

._selcat {display:inline-block;position:relative;top:3px;}
._selcat .cb {display:inline-block;padding:3px 10px 2px 10px;margin:0 0 20px 0;background:#666666;border-radius:4px 4px 4px 4px;}
._selcat .cb .lk {color:#ffffff;font-size:11px;font-family:dotum;font-weight:normal;cursor:pointer;}
._selcat .cb .ico {position:relative;top:-2px;}
._selcat .config {display:inline-block;padding:2px 5px 2px 5px;background:#066D98;color:#ffffff;font-size:11px;font-family:dotum;border-radius:4px 4px 4px 4px;}
._selcat .config:hover {background:#1197C9;}
._selcat .catbox {display:none;position:absolute;width:1px;height:1px;}
._selcat .catbox .catwrap {position:relative;z-index:10;top:5px;left:-10px;width:200px;border:#cccccc solid 1px;background:#efefef;padding:20px;border-radius:5px 5px 5px 5px;}
._selcat .catbox .treetop {background:url('../../../../../_core/image/tree/default/top.gif') left repeat-y;}
._selcat .catbox .treetop a {font-weight:bold;position:relative;top:1px;left:22px;}
._selcat .catbox .joinimg {height:15px;background:url('../../../../../_core/image/tree/default/line.gif') left repeat-y;}
._selcat .catbox .tree {}
._selcat .catbox .tree img {vertical-align:top;}
._selcat .catbox .tree .name {color:#111;padding:2px 0 0 0;}
._selcat .catbox .tree .name:hover {color:#AECD63;}
._selcat .catbox .tree .hidden {color:#c0c0c0;}
._selcat .catbox .tree .hidden:hover {color:#c0c0c0;}
._selcat .catbox .tree .mobile {position:relative;top:-3px;}
._selcat .catbox .tree .on {background:#AECD63;color:#ffffff;padding:2px;}
._selcat .catbox .tree .num {font-family:arial;font-size:10px;color:#ff7700;padding-left:3px;}
._selcat .catbox .tree .num1 {font-family:arial;font-size:10px;color:#999999;padding-left:3px;}
._selcat .catbox .tree .none {height:15px;margin:0;padding:3px 0 0 25px;background:url('../../../../../_core/image/_public/ico_notice.gif') left no-repeat;background-position:0 2px;font-family:dotum;font-size:13px;color:#c0c0c0;}
._config_guide_ {font-weight:bold;padding:0 0 30px 0;color:#00C0C0;}
._config_guide_ img {margin-bottom:-3px;}
._slist {}
._slist .cb {margin:0;}
._metause {display:inline-block;padding:2px 5px 2px 5px;background:#066D98;color:#ffffff;font-weight:normal;font-size:11px;font-family:dotum;border-radius:4px 4px 4px 4px;}
._metause:hover {color:#ffffff;background:#1197C9;}
._metaget {display:inline-block;padding:2px 5px 2px 5px;background:#ff0000;color:#ffffff;font-weight:normal;font-size:11px;font-family:dotum;border-radius:4px 4px 4px 4px;}
._metaget:hover {color:#ffffff;background:#ff7700;}
