#mainbox .tabbox1 {margin:0 0 30px 0;}
#mainbox .tabbox1 ul {list-style-type:none;padding:0;margin:0;position:relative;top:1px;}
#mainbox .tabbox1 li {float:left;border-left:#E6E6E6 solid 1px;border-top:#E6E6E6 solid 1px;border-right:#E6E6E6 solid 1px;border-bottom:#9A9A9A solid 1px;background:#F7F7F7;}
#mainbox .tabbox1 li a {display:block;padding:9px 15px 7px 15px;font-size:11px;font-family:dotum;color:#666666;outline:none;}
#mainbox .tabbox1 .on {border-left:#9A9A9A solid 1px;border-top:#9A9A9A solid 1px;border-right:#9A9A9A solid 1px;border-bottom:#ffffff solid 1px;background:#ffffff;position:relative;z-index:2;}
#mainbox .tabbox1 .on a {font-weight:bold;letter-spacing:-1px;}
#mainbox .tabbox1 .clear {border-top:#9A9A9A solid 1px;position:relative;z-index:1;}
#mainbox .guide {line-height:160%;letter-spacing:-1px;border-bottom:#dfdfdf dotted 2px;padding:0 0 20px 0;margin:0 0 20px 0;}
#mainbox .guide .emp {color:#ff0000;}
#mainbox .more {line-height:160%;letter-spacing:-1px;padding:20px 0 20px 0;color:#666;}
#mainbox .t1 {padding:8px 10px 8px 0;color:#666666;width:120px;line-height:130%;}
#mainbox .t2 {padding:0 5px 0 5px;text-align:center;}
#mainbox .t3 {}
#mainbox .t3 .input {width:200px;}
#mainbox .t3 .post {width:400px;}
#mainbox .t3 .file {width:205px;border:#dfdfdf solid 1px;background:#ffffff;padding:2px;}
#mainbox .t3 .sf {width:25px;}
#mainbox .t3 .sf1 {width:70px;}
#mainbox .t3 .select1 {width:255px;}
#mainbox .t3 a {text-decoration:underline;font-size:11px;font-family:dotum;color:#666666;}
#mainbox .t4 {padding:3px 0 0 30px;}
#mainbox .help {line-height:160%;letter-spacing:-1px;color:#666;}
#mainbox .small {line-height:160%;letter-spacing:-1px;color:#666;font-size:11px;font-family:dotum;}
#mainbox textarea {padding:5px;margin:0;overflow-x:hidden;overflow-y:auto;line-height:150%;color:#000000;font-family:Courier new, arial, dotum;font-size:9pt;text-align:left;}
#mainbox label input {position:relative;top:4px;}
#mainbox .pagetable {}
#mainbox .pagetable thead {}
#mainbox .pagetable thead th {border-bottom:#c0c0c0 solid 2px;padding:8px 0 8px 0;text-align:center;}
#mainbox .pagetable tbody {}
#mainbox .pagetable tbody td {padding:5px 0 5px 5px;border-bottom:#dfdfdf solid 1px;}
#mainbox .pagetable tbody td img {margin-bottom:-3px;}
#mainbox .pagetable tbody td i {font-style:normal;font-size:11px;font-family:arial;color:#999999;}
#mainbox .pagetable tbody .p1 {width:190px;}
#mainbox .pagetable tbody .p2 {width:190px;}
#mainbox .pagetable tbody .p3 {width:110px;text-align:center;}
#mainbox .pagetable tbody .none {text-align:center;color:#444444;padding:20px 0 20px 0;}
