#mainbox {}
#mainbox .title {padding:0 0 15px 0;margin:0 0 20px 0;border-bottom:#dfdfdf solid 1px;}
#mainbox .title .xleft {float:left;font-weight:bold;}
#mainbox .title .xright {float:right;}
#mainbox td {padding:2px 0 2px 0;}
#mainbox .editbox {padding:15px 0 15px 0;}
#mainbox .td1 {width:60px;font-weight:bold;color:#444444;vertical-align:top;padding:10px 0 0 0;letter-spacing:-1px;}
#mainbox .td2 {}
#mainbox .td2 .guide {font-size:11px;font-family:dotum;color:#999;padding:10px 0 10px 0;}
#mainbox .td2 .guide img {position:relative;top:3px;}
#mainbox .td2 .check {color:#666;}
#mainbox .td2 .check input {position:relative;top:2px;}
#mainbox .td2 .input {height:18px;}
#mainbox .td2 .subject {width:400px;}
#mainbox .td2 img {}
#mainbox .td2 .review {padding:10px;line-height:140%;width:385px;height:80px;overflow:auto;border:#cccccc solid 1px;}
#mainbox .td2 .after {padding:10px 0 0 0;color:#999;font-size:11px;font-family:dotum;letter-spacing:-1px;}
#mainbox .xtd1 {width:140px;color:#444444;vertical-align:top;padding:10px 0 0 0;letter-spacing:-1px;}
#mainbox .xtd2 {}
#mainbox .xtd2 .input {height:18px;}
#mainbox .xtd2 .sname2 {width:255px;}
#mainbox .xtd2 a {text-decoration:underline;}
#mainbox .xtd2 textarea {padding:10px;line-height:140%;width:238px;height:30px;overflow:auto;border:#cccccc solid 1px;}
#mainbox .iconbox {border-left:#e0e0e0 solid 1px;border-top:#e0e0e0 solid 1px;border-right:#e0e0e0 solid 1px;background:#f9f9f9;padding:6px 0 8px 7px;}
#mainbox .iconbox a {padding:0 3px 0 3px;font-size:11px;font-family:dotum;color:#333;}
#mainbox .iconbox a:hover {color:#7899C7;}
#mainbox .iconbox a img {position:relative;top:2px;left:-2px;margin-right:3px;}
#mainbox .iconbox .split {padding:0 2px 0 2px;margin-bottom:-1px;}
#mainbox .bottombox {text-align:center;padding:20px 0 20px 0;margin:15px 0 0 0;border-top:#efefef solid 1px;}
#mainbox .bottombox .btngray {font-weight:bold;width:60px;height:25px;}
#mainbox .bottombox .btnblue {font-weight:bold;width:80px;height:25px;}
