body {padding:0;margin:0;font-size:12px;font-family:gulim;}
input,select,textarea {font-size:12px;font-family:gulim;}
img,p {border:0;margin:0;padding:0;}
form {display:inline;margin:0;padding:0;}
select {font-size:12px;font-family:dotum;}
label {cursor:pointer;}
a {text-decoration:none;color:#000;}
a:hover {color:#666;}


#wrap {width:950px;margin:auto;}
#header {}
#header .logo {float:left;padding:20px 0 15px 2px;}
#header .logo h1 {margin:0 0 0 3px;padding:0;position:relative;left:-5px;width:600px;height:35px;}
#header .logo h1 a {font-weight:bold;color:#555;font-size:22px;font-family:"malgun gothic","Trebuchet MS",Georgia,"Times New Roman",Times,serif;}
#header .gnb {float:right;padding:10px 0 0 0;}
#header .gnb ul {padding:0;margin:0;letter-spacing:-1px;}
#header .gnb li {list-style-type:none;display:inline;padding:5px 0 5px 10px;font:normal 11px "malgun gothic",dotum;}
#header .gnb .admin a {color:#ff0000;}
#header .lnb {position:relative;z-index:1;clear:both;height:41px;_height:43px;padding:0;background:url('./image/menu01.jpg') #343843 left top repeat-x;border:#3C4149 solid 1px;_border:0;}
#header .lnb ul {float:left;width:710px;height:41px;_height:43px;padding:0 0 0 15px;margin:0;}
#header .lnb li {list-style-type:none;float:left;height:41px;_height:43px;padding:0;margin:0;}
#header .lnb li div {position:absolute;display:none;width:1px;}
#header .lnb li div dl {margin:41px 0 0 0;padding:0;width:125px;border:#363842 solid 2px;background:#3D3F4C;}
#header .lnb li div dt {margin:0;padding:0;}
#header .lnb li div dd {margin:0;padding:0;}
#header .lnb li div dt a {display:block;padding:6px 0 6px 10px;font-size:12px;font-family:dotum;color:#c0c0c0;height:13px;}
#header .lnb li div dt a:hover {color:#F63941;background:#2B2B2B;}
#header .lnb li div dd a {display:block;padding:4px 0 4px 15px;font-size:11px;font-family:dotum;color:#c0c0c0;height:12px;}
#header .lnb li div dd a:hover {color:#F63941;background:#2B2B2B;}
#header .lnb li a {display:inline-block;font:normal 12px "malgun gothic","dotum";color:#dedede;padding:13px 12px 0 12px;margin:0;height:28px;letter-spacing:-1px;}
#header .lnb li a img {position:relative;top:-2px;left:2px;}
#header .lnb li a:hover {color:#F63941;}
#header .lnb .selected1 {color:#ffffff;background:#F63941;position:relative;top:-1px;_top:0;height:29px;padding:14px 12px 0 12px;}
#header .lnb .selected1:hover {color:#ffffff;}
#header .lnb .selected2 a {color:#F63941;}
#header .lnb .selected3 a {color:#F63941;}
#header .lnb li .m1 {font-weight:bold;}
#header .lnb .search {float:right;width:155px;text-align:right;padding:10px 65px 0 0;}
#header .lnb .search .input {width:140px;height:17px;background:#474747;border:#282931 solid 1px;margin:0 2px 0 0;color:#efefef;}
#header .lnb .search .input:focus {background:#5C5D6B;}
#header .lnb .search span {position:absolute;}
#header .location {clear:both;font:normal 11px dotum;color:#999;padding:13px 0 8px 0;}
#header .location a {color:#999;}

#container {padding:8px 0 0 0;}
#container .snb {float:left;width:200px;}
#container .snb .plugingap {height:25px;}
#container .snb .logbox {padding:15px 10px 15px 10px;border:#efefef solid 1px;}
#container .snb .logbox .hello {border-bottom:#dfdfdf dotted 1px;padding:0 0 10px 0;}
#container .snb .logbox .info {line-height:150%;padding:10px 0 0 0;color:#888;font-size:11px;font-family:dotum;}
#container .snb .logbox .input {width:115px;height:16px;color:#888888;font-family:arial;font-size:11px;}
#container .snb .logbox .login {position:absolute;}
#container .snb .logbox .login input {position:relative;top:-44px;left:130px;}
#container .snb .logbox .shift {font-size:11px;font-family:dotum;color:#c0c0c0;padding:5px 0 0 0;}
#container .snb .logbox .rbtm {border-top:#dfdfdf dotted 1px;padding:10px 0 0 2px;margin:7px 0 0 0;}
#container .snb .logbox .rbtm a {font-family:dotum;font-size:11px;}
#container .snb .logbox .rbtm span {color:#dfdfdf;padding:0 2px 0 2px;}
#container .snb .post {}
#container .snb .post .tt {padding:0 0 10px 0;font-weight:bold;color:#666;}
#container .snb .post ul {padding:0;margin:0;}
#container .snb .post li {list-style-type:none;padding:6px 0 8px 0;line-height:140%;border-bottom:#ebebeb solid 1px;}
#container .snb .post li a {font-family:dotum;font-size:12px;color:#444;}
#container .snb .post li a:hover {text-decoration:underline;}
#container .snb .post li .comment {font:normal 11px arial;color:#FC6138;}
#container .snb .post li .trackback {font:normal 11px arial;color:#02ACD6;}
#container .snb .post li .new {font-family:arial;font-size:10px;color:#ff0000;}
#container .snb .post .none {border:#efefef solid 1px;color:#c0c0c0;text-align:center;padding:25px;}
#container .snb .tags {}
#container .snb .tags .tt {padding:0 0 10px 0;font-weight:bold;color:#666;}
#container .snb .tags .items {padding:10px;border:#efefef solid 1px;line-height:180%;}
#container .snb .tags .items .tags_1 {padding:5px 2px 5px 2px;font-family:dotum;font-size:11px;color:#7B7B7B;}
#container .snb .tags .items .tags_1:hover {padding:5px 2px 5px 2px;font-family:dotum;font-size:11px;color:#FFFFFF;background:#7B7B7B;}
#container .snb .tags .items .tags_2 {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:12px;color:#87C168;}
#container .snb .tags .items .tags_2:hover {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:12px;color:#FFFFFF;background:#87C168;}
#container .snb .tags .items .tags_3 {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:14px;color:#FF6666;}
#container .snb .tags .items .tags_3:hover {padding:5px 2px 5px 2px;font-family:dotum;font-weight:Bold;font-size:14px;color:#FFFFFF;background:#FF6666;}
#container .snb .tags .items .none {color:#c0c0c0;text-align:center;display:block;padding:10px 0 10px 0;}
#container .snb .photo {}
#container .snb .photo .tt {padding:0 0 10px 0;font-weight:bold;color:#666;}
#container .snb .photo .pic {float:left;margin:0 0 8px 8px;padding:1px;border:#efefef solid 1px;backgorund:#ffffff;}
#container .snb .photo .pic img {width:57px;height:45px;}
#container .snb .photo .nomargin {margin:0 0 8px 0;clear:both;}
#container .snb .archiv {}
#container .snb .archiv .tt {padding:0 0 10px 0;font-weight:bold;color:#666;}
#container .snb .archiv ul {height:125px;margin:0;padding:7px 0 10px 10px;border:#efefef solid 1px;}
#container .snb .archiv li {list-style-type:none;float:left;width:94px;padding:4px 0 4px 0;}
#container .snb .archiv li a {display:inline-block;width:53px;}
#container .snb .archiv li span {color:#2B97D7;}
#container .snb .daily {border:#efefef solid 1px;}
#container .snb .daily .tt {padding:5px 0 5px 0;text-align:center;font-weight:bold;font-family:verdana;color:#666;}
#container .snb .daily .tt img {position:relative;top:-1px;}
#container .snb .daily .sunday {color:#2B97D7;}
#container .snb .daily .week {height:20px;}
#container .snb .daily .week td {color:#333;background:#f9f9f9;}
#container .snb .daily table {width:100%;}
#container .snb .daily td {text-align:center;color:#666;font-family:dotum;font-size:11px;}
#container .snb .counter {padding:10px;border:#efefef solid 1px;line-height:150%;font-family:arial;font-size:10px;color:#666;}
#container .snb .rss {font-size:10px;font-family:tomaha;color:#c0c0c0;}
#container .snb .rss a {color:#666;padding:0 5px 0  5px;}
#container .snb .rss a:hover {text-decoration:underline;}
#container .snb .rss img {position:relative;top:3px;}

#content {float:left;width:730px;padding:0 0 20px 20px;}

#footer {margin:20px 0 0 0;padding:20px 0 20px 0;border-top:#efefef solid 1px;text-align:center;}
#footer div {padding:10px 0 10px 0;}
#footer div a {font-size:11px;font-family:dotum;color:#444444;letter-spacing:-1px;}
#footer div .split {font-family:dotum;font-size:9px;color:#c0c0c0;}
#footer address {font-family:arial;font-size:9px;font-style:normal;color:#999999;}
