#migbox h2 {font-size:14px;font-family:dotum;font-weight:bold;border-bottom:#dfdfdf solid 1px;padding:10px 0 10px 0;margin:0;letter-spacing:-1px;}
#migbox .notice {padding:20px 0 20px 15px;font-size:12px;font-family:dotum;color:#02B6D6;line-height:150%;}
#migbox .submitbox {padding:250px 0 0 15px;border-top:#dfdfdf solid 1px;}


/*권기택 추가 */
#content .visible-sm .nav-tabs  > li,
#content .visible-xs .nav-tabs  > li {
  width: 50%;
  text-align: center
}